body{
	background-image: url('../img/green-fibers.png');
    position: relative;
}
header{
	width: 100%;
	height: 100%;
    background-image: url('../img/retina_wood.png');
	position: relative;
	padding-top: 10%;
	padding-bottom: 20%;
	margin-bottom: 10%;
	text-align: center;
}
header h1{
	font-size: 130px;
	position: relative;
	display: inline;
	padding-top: 100%;
}
header li{
	font-size: 30px; 
    position: relative;
    display: inline;
    color: black;
}
header a{
	text-decoration: none;
}
header ul{
	right: -20%;
    position: relative;

}



main ul {
	list-style-type: none;
}
.first{
/*	background-image: url('gard_img/');
*/	position: relative;
	
}
.second{
/*	background-image: url('gard_img/');
*/	position: relative;
	
}



.a1{
    background-image: url('../img/retina_wood.png');
    position: relative;
    padding: 10px;
    text-align: center;
    list-style-type: none;
}
.a1 h1{
	font-size: 170%;
	
}
#a1{
	display: inline;
	position: center center;
	list-style-type: none;
	background-color: pink;
}




.a2{
	background-image: url('../img/retina_wood.png');
	position: relative;
	padding: 10px;
	text-align: center;
	list-style-type: none;

}
.a2 h1{
	font-size: 170%;
}
#a2{
    display: inline;
	position: center center;
	list-style-type: none;
	background-color: pink;
}




.a3{
    background-image: url('../img/retina_wood.png');
    position: relative;
    padding: 10px;
    text-align: center;
  
}
.a3 h1{
	font-size: 170%;
}
#a3{
    display: inline;
	position: center center;
	list-style-type: none;
	background-color: pink;
}




.a4{
    background-image: url('../img/retina_wood.png');
    position: relative;
    padding: 10px;
    text-align: center;
}
.a4 h1{
	font-size: 170%;
}
#a4{
    display: inline;
	position: center center;
	list-style-type: none;
	background-color: pink;
}




.a5{
    background-image: url('../img/retina_wood.png');
    position: relative;
    padding: 10px;
    text-align: center;
    
}
.a5 h1{
	font-size: 170%;
}
#a5{
    display: inline;
	position: center center;
	list-style-type: none;
	background-color: pink;
}




.a6{
    background-image: url('../img/retina_wood.png');
    position: relative;
    padding: 10px;
    text-align: center;
}
.a6 h1{
	font-size: 170%;
}
#a6{
	background-color: pink;
	display: inline;
	position: center center;
	list-style-type: none;
}


.info img{
	display: inline;
	position: relative;
	height: 100px;
	width: 100px;
}
.info1{
	position: relative;
	display: inline;
	right: 7%;

}
.info2{
	position: relative;
	display: inline;
	left: -2%;
}
.info3{
	position: relative;
	display: inline;
	left: 4%;
}
.end{
	height: 200%;
	width: 100%;
	padding: 30%;
}

















