body{
	background-image: url('../img/green-fibers.png');
    position: relative;
}
header{
	width: 100%;
	height: 100%;
    background-image: url('../img/retina_wood.png');
	position: relative;
	padding-top: 10%;
	/*padding-bottom: 20%;
	margin-bottom: 10%;*/
	text-align: center;
	position: relative;
}
header h1{
	color: darkslategray;
	font-size: 130px;
	display: inline;
	padding-top: 100%;
	padding-right: 28%;
}
header li{
	font-size: 30px;  
    display: inline;
    color: darkslategray;;
}
header a{
	text-decoration: none;
}
header ul{
	right: -20%;
	position: relative;

}



main ul {
	list-style-type: none;
}
.category{
/*	background-image: url('gard_img/');
*/	position: relative;

}
article{
	background-image: url('../img/retina_wood.png');
    position: relative;
    padding: 10px;
    text-align: center;
    list-style-type: none;
}



.info img{
	display: inline;
	position: relative;
	height: 100px;
	width: 100px;
}
.info li {
	position: relative;
	display: inline;
}
.iconDirt{
	right: 7%;
	-webkit-filter: grayscale(100%);
}
.iconSun{
	left: -2%;
	-webkit-filter: grayscale(100%);
}
.iconFeed{
	left: 4%;
	-webkit-filter: grayscale(100%);
}
.end{
	height: 200%;
	width: 100%;
	padding: 30%;
}

















